{% extends 'base.html' %}

{% block title %}
    kidsongs
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <form method="get" class="my-3 px-3" action="{% url 'search' %}">
  <div class="input-group bmd-form-group pt-0">
  {% load i18n %}
    <input class="form-control" name="search" placeholder="{% trans 'Search' %}" value="{{ query_value }}" title="" type="text">
    <div class="input-group-append">
      <button type="submit" class="btn btn-dark">Поиск</button>
    </div>
  </div>
</form>
    <ul>
        {% for obj in object_list %}
        <img src="{{ obj.cover.url }}">
        <li><a>{{ obj.name }}</a></li>
        <li>{{ obj.author }}</li>
        <li><audio controls>
            <source src="{{ obj.file.url }}" type="audio/mp3">
        </audio></li>
        <p class="link-read-post"><a href="{{ obj.get_absolute_url }}">Купить</a></p>
        {% endfor %}
    </ul>

<p>Посетителей: {{ num_visits }}</p>
{% endblock %}